@charset "UTF-8";
.item, .itemPromociones {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
  transition: all 0.5s ease;
  width: 95%; }
  .item figure, .itemPromociones figure {
    background: transparent;
    width: 100%; }
    .item figure img, .itemPromociones figure img {
      display: block;
      width: 100%; }
  .item:hover, .itemPromociones:hover {
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.4); }
  .item .infoContainer, .itemPromociones .infoContainer {
    border: 1px solid #b3b3b3;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 1rem;
    width: 100%; }
    .item .infoContainer div, .itemPromociones .infoContainer div {
      flex-grow: 1; }
    .item .infoContainer h2, .itemPromociones .infoContainer h2 {
      color: #444242;
      margin: 0; }
    .item .infoContainer sup, .itemPromociones .infoContainer sup {
      display: block; }
    .item .infoContainer .precio, .itemPromociones .infoContainer .precio {
      color: #ff4454;
      font-weight: 600;
      margin-bottom: 0; }
      .item .infoContainer .precio small, .itemPromociones .infoContainer .precio small {
        text-transform: uppercase; }

/*************CARRUSEL HOME************ */
#carruselHome {
  display: none; }
  @media screen and (min-width: 768px) {
    #carruselHome {
      display: block;
      height: 430px;
      width: 100%; }
      #carruselHome .itemCarrusel {
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
        padding-top: 3rem;
        position: relative; }
        #carruselHome .itemCarrusel::before {
          background-color: rgba(0, 0, 0, 0.3);
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0; }
        #carruselHome .itemCarrusel .textContainer {
          align-items: center;
          color: white;
          display: flex;
          flex-direction: column;
          position: relative;
          text-align: center;
          z-index: 9999;
          height: 430px; }
          #carruselHome .itemCarrusel .textContainer h2 {
            font-size: 2.2rem;
            font-weight: 500;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7); }
          #carruselHome .itemCarrusel .textContainer p {
            font-size: 2.2rem;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
            margin-bottom: 20px; }
          #carruselHome .itemCarrusel .textContainer button {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }
      #carruselHome .owl-dots {
        display: none; }
      #carruselHome .owl-nav {
        margin-top: -280px;
        position: relative; }
        #carruselHome .owl-nav .owl-prev {
          background: transparent;
          left: 10px;
          position: absolute;
          font-family: "FontAwesome";
          font-size: 33px;
          transition: all 0.5s ease;
          opacity: 0.4; }
          #carruselHome .owl-nav .owl-prev:hover {
            opacity: 1;
            margin-top: -1px; }
        #carruselHome .owl-nav .owl-next {
          background: transparent;
          right: 10px;
          position: absolute;
          font-family: "FontAwesome";
          font-size: 33px;
          transition: all 0.5s ease;
          opacity: 0.4; }
          #carruselHome .owl-nav .owl-next:hover {
            opacity: 1;
            margin-top: -1px; } }

/*************END - CARRUSEL HOME************ */
/*************BUSCADOR************ */
#buscador {
  /*************GENERALES************ */
  z-index: 990;
  color: white;
  position: relative;
  /*************END - GENERALES************ */
  /*************TABS DE NAVEGACION************ */
  /*************END - TABS DE NAVEGACION************ */
  /*************CONTENIDO TABS************ */
  /*************END - CONTENIDO TABS************ */ }
  #buscador h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 20px; }
  #buscador h3 {
    color: white; }
  #buscador .nav-tabs {
    display: flex;
    border: none;
    justify-content: space-between;
    border-top: 1px solid white; }
    #buscador .nav-tabs > li {
      margin-bottom: 0;
      flex-grow: 1;
      text-align: center;
      border-right: 1px solid white; }
      #buscador .nav-tabs > li:last-child {
        border-right: none; }
      #buscador .nav-tabs > li > a {
        background: #00091e;
        border: none;
        color: white;
        padding: 12px 5px;
        font-size: 18px;
        margin: 0;
        border-radius: 0; }
        #buscador .nav-tabs > li > a:hover {
          color: rgba(255, 255, 255, 0.6); }
    #buscador .nav-tabs li.active > a {
      background: #ff4454;
      color: white;
      border: none; }
    #buscador .nav-tabs span {
      display: none; }
  @media screen and (min-width: 768px) {
    #buscador > li > a {
      padding: 12px 5px; } }
  #buscador .tab-content {
    background: linear-gradient(to right, #a02336 0%, #ff2335 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    z-index: 999; }
    #buscador .tab-content .inputsection .positionInitial {
      position: initial; }
    #buscador .tab-content input::placeholder {
      color: #444242; }
    #buscador .tab-content #autos .filtrosAvanzados {
      align-items: center;
      justify-content: flex-start;
      flex-direction: row; }
      #buscador .tab-content #autos .filtrosAvanzados #conductorEdad {
        display: none; }
        #buscador .tab-content #autos .filtrosAvanzados #conductorEdad input {
          background: transparent;
          border: 0;
          border-bottom: 1px solid white; }
    #buscador .tab-content #autos .inputsectionSecun {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 38px; }
      #buscador .tab-content #autos .inputsectionSecun input[type=submit] {
        background: linear-gradient(to right, #000941 0%, #00091e 100%);
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        padding: 12px 35px;
        width: 100%; }
      #buscador .tab-content #autos .inputsectionSecun .fa {
        transform: translateY(20%); }
      #buscador .tab-content #autos .inputsectionSecun label {
        font-weight: normal;
        position: absolute;
        top: -23px; }
        #buscador .tab-content #autos .inputsectionSecun label div {
          flex-grow: 1;
          width: 1%;
          border-radius: 5px; }
          #buscador .tab-content #autos .inputsectionSecun label div input:first-child, #buscador .tab-content #autos .inputsectionSecun label div select:first-child {
            border: 5px; }
        #buscador .tab-content #autos .inputsectionSecun label input, #buscador .tab-content #autos .inputsectionSecun label select {
          border-radius: 5px;
          padding-bottom: 4px;
          padding-top: 4px; }
      #buscador .tab-content #autos .inputsectionSecun .inputsection {
        box-shadow: none;
        border-radius: none; }
        #buscador .tab-content #autos .inputsectionSecun .inputsection select {
          border-radius: 5px; }
        #buscador .tab-content #autos .inputsectionSecun .inputsection div {
          border-radius: 5px;
          height: 40px;
          margin-bottom: 30px; }
          #buscador .tab-content #autos .inputsectionSecun .inputsection div input {
            border-radius: 5px; }
          #buscador .tab-content #autos .inputsectionSecun .inputsection div:first-child input {
            border-radius: 5px; }
          #buscador .tab-content #autos .inputsectionSecun .inputsection div:last-child {
            margin-bottom: 0; }
        #buscador .tab-content #autos .inputsectionSecun .inputsection > div {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }
      #buscador .tab-content #autos .inputsectionSecun .horaAutoContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 33px;
        width: 100%; }
        #buscador .tab-content #autos .inputsectionSecun .horaAutoContainer input, #buscador .tab-content #autos .inputsectionSecun .horaAutoContainer select {
          background: transparent;
          padding-left: 0;
          border-radius: 0 5px 5px 0; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content #autos .inputsectionSecun {
          flex-direction: row; }
          #buscador .tab-content #autos .inputsectionSecun .inputsection {
            width: 66.6%; }
            #buscador .tab-content #autos .inputsectionSecun .inputsection div {
              height: 36px;
              margin-bottom: 0;
              border-radius: 0; }
              #buscador .tab-content #autos .inputsectionSecun .inputsection div:first-child {
                border-radius: 5px 0 0 5px; }
              #buscador .tab-content #autos .inputsectionSecun .inputsection div:last-child {
                border-radius: 0 5px 5px 0; }
              #buscador .tab-content #autos .inputsectionSecun .inputsection div select {
                padding: 6px; } }
    #buscador .tab-content #seguros .tooltipSeguros {
      display: none; }
      #buscador .tab-content #seguros .tooltipSeguros .numeroAsegurados {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 0.4rem; }
        #buscador .tab-content #seguros .tooltipSeguros .numeroAsegurados p {
          margin-bottom: 0;
          font-size: 1.2rem; }
        #buscador .tab-content #seguros .tooltipSeguros .numeroAsegurados select {
          border: 1px solid #cccccc;
          border-radius: 5px;
          padding: 0 0.5rem;
          width: 50px; }
      #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado {
        align-items: flex-start;
        border-bottom: 1px solid #cccccc;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 5px;
        padding-top: 5px; }
        #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic {
          display: flex; }
          #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic .checkbox .checkbox-material .check {
            border-color: #0c1320;
            margin: 0;
            margin-left: 14px; }
          #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic .checkbox input[type=checkbox]:checked + .checkbox-material .check:before, #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
            color: #0c1320; }
          #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic input[type="checkbox"] {
            width: 30px; }
          #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .conIsic label {
            color: #444242;
            margin-bottom: 0; }
        #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .asegurado .numeroPasajero {
          margin-bottom: 0;
          font-size: 1.8rem;
          font-weight: bold;
          margin-right: 5px; }
      #buscador .tab-content #seguros .tooltipSeguros .aseguradosContainer .edadAsegurado {
        border: 1px solid #ccc;
        padding-left: 6px;
        padding-top: 0;
        padding-bottom: 0;
        width: 60px; }
    #buscador .tab-content .listo {
      float: right;
      margin-top: 15px;
      width: 100%; }
    @media screen and (min-width: 768px) {
      #buscador .tab-content .listo {
        width: 80px; } }
    #buscador .tab-content #paquetes .filtrosContainer {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      margin-top: 15px; }
      #buscador .tab-content #paquetes .filtrosContainer p {
        font-size: 14px;
        margin-right: 10px; }
    #buscador .tab-content #paquetes .tooltipHabitaciones {
      display: none;
      align-items: center; }
      #buscador .tab-content #paquetes .tooltipHabitaciones p {
        margin-bottom: 0; }
      #buscador .tab-content #paquetes .tooltipHabitaciones select {
        width: auto;
        padding: 0; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .button {
        margin-top: 15px;
        width: 100%; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer p {
        margin-right: 0.4rem; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer select {
        border-bottom: 1px solid #cccccc;
        margin-right: 0.6rem;
        padding: 0.5rem 0;
        font-size: 15px; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
        padding-bottom: 10px; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion:last-child {
          border-bottom: 0; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion .edadMenoresTitulo {
          margin: 0;
          margin-top: 5px;
          padding: 0; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .personasHabitaciones {
        align-items: center;
        display: flex; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .personasHabitaciones > p {
          padding: 0 0.8rem; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .personasHabitaciones .numeroHabitacion {
          font-size: 1.8rem;
          font-weight: bold; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .edadMenores {
        align-items: center;
        display: flex; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .edadMenores select {
          padding-top: 0;
          width: 20%; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .edadMenores p {
          font-size: 1rem;
          width: 55px;
          line-height: 12px; }
      #buscador .tab-content #paquetes .tooltipHabitaciones .numeroHabitaciones {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 0.4rem; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .numeroHabitaciones p {
          font-size: 1.2rem; }
        #buscador .tab-content #paquetes .tooltipHabitaciones .numeroHabitaciones select {
          border: 1px solid #cccccc;
          border-radius: 5px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          width: 50px; }
    #buscador .tab-content #vuelos #fechaVueloRegreso {
      opacity: 1;
      position: relative; }
    #buscador .tab-content #vuelos .filtrosContainer {
      display: none; }
      #buscador .tab-content #vuelos .filtrosContainer div {
        display: inline-block; }
    #buscador .tab-content .fechaContainer {
      border-radius: 5px;
      color: #444242;
      display: flex;
      padding: 5px;
      padding-left: 35px; }
      #buscador .tab-content .fechaContainer div {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        line-height: 30px;
        margin-left: 3px;
        margin-top: 5px; }
        #buscador .tab-content .fechaContainer div p:first-child {
          margin-right: 5px; }
        @media screen and (min-width: 768px) {
          #buscador .tab-content .fechaContainer div {
            width: 100px; } }
      #buscador .tab-content .fechaContainer p {
        margin: 0; }
      #buscador .tab-content .fechaContainer .numeroFecha {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px; }
    #buscador .tab-content .filtrosContainer {
      color: white;
      display: flex;
      flex-direction: column; }
      #buscador .tab-content .filtrosContainer div {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 10px; }
        #buscador .tab-content .filtrosContainer div select, #buscador .tab-content .filtrosContainer div input {
          background: transparent;
          border: none;
          color: white;
          font-size: 14px;
          padding: 2px 5px;
          border-bottom: 1px solid; }
        #buscador .tab-content .filtrosContainer div select option {
          color: #444242; }
      #buscador .tab-content .filtrosContainer .aerolineaAdvance::placeholder {
        color: #444242; }
    #buscador .tab-content .filtrosAvanzados {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      flex-direction: column; }
      #buscador .tab-content .filtrosAvanzados .radiobuttons {
        margin-top: 12px; }
        #buscador .tab-content .filtrosAvanzados .radiobuttons label {
          margin-right: 0; }
      #buscador .tab-content .filtrosAvanzados .opcionesAvanzadas a {
        color: white;
        display: block;
        margin-bottom: 15px;
        transition: all 0.5s ease; }
        #buscador .tab-content .filtrosAvanzados .opcionesAvanzadas a:hover {
          color: rgba(255, 255, 255, 0.5); }
        #buscador .tab-content .filtrosAvanzados .opcionesAvanzadas a .fa {
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 5px; }
      #buscador .tab-content .filtrosAvanzados .opcionesAvanzadas input::placeholder {
        color: white; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content .filtrosAvanzados .opcionesAvanzadas #verOpciones {
          margin-bottom: 0; } }
    #buscador .tab-content .inputsection {
      align-items: stretch;
      border-radius: 6px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      position: relative; }
      #buscador .tab-content .inputsection .errorValidation {
        margin-bottom: 24px;
        font-weight: bold; }
        #buscador .tab-content .inputsection .errorValidation input {
          background: #ff8e98 !important; }
          #buscador .tab-content .inputsection .errorValidation input::placeholder {
            color: #9d000d; }
        #buscador .tab-content .inputsection .errorValidation .fa {
          color: #9d000d; }
      #buscador .tab-content .inputsection .errorMensaje {
        color: white;
        position: absolute;
        bottom: -21px;
        margin-bottom: 0;
        font-size: 14px; }
      #buscador .tab-content .inputsection > div {
        background: white;
        border-bottom: 1px solid #727176;
        display: flex;
        flex-grow: 1;
        position: relative; }
        #buscador .tab-content .inputsection > div:last-child {
          border-bottom: 0; }
      #buscador .tab-content .inputsection > div:first-child {
        border-radius: 5px 5px 0 0; }
        #buscador .tab-content .inputsection > div:first-child input, #buscador .tab-content .inputsection > div:first-child select {
          border-radius: 5px 5px 0 0; }
      #buscador .tab-content .inputsection > div:last-child {
        border-radius: 0 0 5px 5px; }
        #buscador .tab-content .inputsection > div:last-child input {
          border-radius: 0 0 5px 5px; }
      #buscador .tab-content .inputsection input, #buscador .tab-content .inputsection select {
        background: white;
        border: none;
        color: #00091e;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 300;
        padding: 10px;
        padding-left: 33px;
        width: 100%;
        font-style: normal; }
      #buscador .tab-content .inputsection select {
        width: 98%;
        border-radius: 5px; }
      #buscador .tab-content .inputsection input:focus {
        outline: none; }
      #buscador .tab-content .inputsection input[type=submit] {
        background: linear-gradient(to right, #000941 0%, #00091e 100%);
        color: white;
        font-size: 18px;
        padding-right: 25px;
        padding-left: 25px; }
      #buscador .tab-content .inputsection .submit {
        position: relative;
        flex-grow: 1; }
        #buscador .tab-content .inputsection .submit .fa {
          color: white;
          font-size: 30px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 24px;
          line-height: 19px; }
      #buscador .tab-content .inputsection .fa {
        bottom: 0;
        border-top: 0;
        color: #727176;
        position: absolute;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 5px;
        top: 0;
        transform: translateY(30%);
        z-index: 10; }
    #buscador .tab-content .radiobuttons {
      display: flex; }
      #buscador .tab-content .radiobuttons label {
        margin-right: 25px; }
      #buscador .tab-content .radiobuttons input {
        margin-right: 2px; }
    #buscador .tab-content .radio + .radio, #buscador .tab-content .checkbox + .checkbox {
      margin-top: auto; }
    #buscador .tab-content .radio, #buscador .tab-content .checkbox {
      margin-top: 0; }
    #buscador .tab-content .tab-pane {
      position: relative; }
    #buscador .tab-content #formVueloArma,
    #buscador .tab-content #formVueloSencillo {
      display: none; }
    #buscador .tab-content #formVueloArma .inputsection {
      margin-top: 25px; }
      #buscador .tab-content #formVueloArma .inputsection:first-child {
        margin-top: 0; }
      #buscador .tab-content #formVueloArma .inputsection input, #buscador .tab-content #formVueloArma .inputsection .fechaContainer {
        padding: 15px 10px 15px 33px; }
      #buscador .tab-content #formVueloArma .inputsection .fechaContainer .numeroFecha {
        font-size: 27px; }
      #buscador .tab-content #formVueloArma .inputsection .submit input {
        padding-left: 0; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content #formVueloArma .inputsection:last-child {
          margin-left: auto;
          width: 29%; }
          #buscador .tab-content #formVueloArma .inputsection:last-child input, #buscador .tab-content #formVueloArma .inputsection:last-child .fechaContainer {
            padding: 7px 10px 7px 33px; }
        #buscador .tab-content #formVueloArma .inputsection input, #buscador .tab-content #formVueloArma .inputsection .fechaContainer {
          padding: 0 10px 0 33px; }
        #buscador .tab-content #formVueloArma .inputsection .submit {
          width: 40%; }
          #buscador .tab-content #formVueloArma .inputsection .submit input {
            padding-left: 0;
            padding-right: 0; } }
    #buscador .tab-content #formVueloArma .inputsectionSecun {
      align-items: flex-start;
      margin-top: 25px; }
      #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection {
        margin-top: 0; }
        #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:first-child div {
          border-radius: 5px 5px 0 0; }
        #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:first-child input {
          border-radius: 5px 5px 0 0; }
        #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:last-child div {
          border-radius: 0 0 5px 5px; }
        #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:last-child input {
          border-radius: 0 0 5px 5px; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content #formVueloArma .inputsectionSecun {
          display: flex; }
          #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:first-child div, #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:first-child input {
            border-radius: 5px;
            height: 40px; }
          #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:last-child {
            width: 118px; }
            #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:last-child div, #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection:last-child input {
              width: 118px;
              border-radius: 5px; }
          #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection .submit {
            height: 50px;
            width: 118px; }
          #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection #tooltipViajerosArma {
            height: auto; }
            #buscador .tab-content #formVueloArma .inputsectionSecun .inputsection #tooltipViajerosArma div {
              height: auto;
              padding-bottom: 6px;
              padding-top: 6px; } }
    #buscador .tab-content #tooltipViajerosRedondo,
    #buscador .tab-content #tooltipViajeroSencillo,
    #buscador .tab-content #tooltipViajerosArma {
      display: none; }
      #buscador .tab-content #tooltipViajerosRedondo > div,
      #buscador .tab-content #tooltipViajeroSencillo > div,
      #buscador .tab-content #tooltipViajerosArma > div {
        align-items: flex-end;
        border-bottom-color: #cccccc;
        display: flex;
        justify-content: space-between;
        padding-bottom: 6px;
        padding-top: 6px;
        height: auto; }
        #buscador .tab-content #tooltipViajerosRedondo > div:last-child,
        #buscador .tab-content #tooltipViajeroSencillo > div:last-child,
        #buscador .tab-content #tooltipViajerosArma > div:last-child {
          justify-content: flex-end; }
      #buscador .tab-content #tooltipViajerosRedondo p,
      #buscador .tab-content #tooltipViajeroSencillo p,
      #buscador .tab-content #tooltipViajerosArma p {
        font-size: 18px;
        margin-bottom: 0;
        width: 70%; }
      #buscador .tab-content #tooltipViajerosRedondo .buttonContainer,
      #buscador .tab-content #tooltipViajeroSencillo .buttonContainer,
      #buscador .tab-content #tooltipViajerosArma .buttonContainer {
        display: flex; }
        #buscador .tab-content #tooltipViajerosRedondo .buttonContainer .controlPasajeros,
        #buscador .tab-content #tooltipViajeroSencillo .buttonContainer .controlPasajeros,
        #buscador .tab-content #tooltipViajerosArma .buttonContainer .controlPasajeros {
          padding: 14px 16px;
          background: white;
          border: 1px solid #cccccc;
          transition: all 0.5s ease; }
          #buscador .tab-content #tooltipViajerosRedondo .buttonContainer .controlPasajeros:first-child,
          #buscador .tab-content #tooltipViajeroSencillo .buttonContainer .controlPasajeros:first-child,
          #buscador .tab-content #tooltipViajerosArma .buttonContainer .controlPasajeros:first-child {
            border-radius: 5px 0 0 5px; }
          #buscador .tab-content #tooltipViajerosRedondo .buttonContainer .controlPasajeros:last-child,
          #buscador .tab-content #tooltipViajeroSencillo .buttonContainer .controlPasajeros:last-child,
          #buscador .tab-content #tooltipViajerosArma .buttonContainer .controlPasajeros:last-child {
            border-radius: 0 5px 5px 0; }
          #buscador .tab-content #tooltipViajerosRedondo .buttonContainer .controlPasajeros:hover,
          #buscador .tab-content #tooltipViajeroSencillo .buttonContainer .controlPasajeros:hover,
          #buscador .tab-content #tooltipViajerosArma .buttonContainer .controlPasajeros:hover {
            background: #cccccc; }
      #buscador .tab-content #tooltipViajerosRedondo .listo,
      #buscador .tab-content #tooltipViajeroSencillo .listo,
      #buscador .tab-content #tooltipViajerosArma .listo {
        border: none;
        width: 100%; }
      #buscador .tab-content #tooltipViajerosRedondo .fa,
      #buscador .tab-content #tooltipViajeroSencillo .fa,
      #buscador .tab-content #tooltipViajerosArma .fa {
        font-size: 10px;
        position: relative;
        line-height: 0;
        margin: 0; }
      #buscador .tab-content #tooltipViajerosRedondo .numeroAdulos, #buscador .tab-content #tooltipViajerosRedondo .numeroMenores,
      #buscador .tab-content #tooltipViajeroSencillo .numeroAdulos,
      #buscador .tab-content #tooltipViajeroSencillo .numeroMenores,
      #buscador .tab-content #tooltipViajerosArma .numeroAdulos,
      #buscador .tab-content #tooltipViajerosArma .numeroMenores {
        font-weight: bold; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content #tooltipViajerosRedondo,
        #buscador .tab-content #tooltipViajeroSencillo,
        #buscador .tab-content #tooltipViajerosArma {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }
          #buscador .tab-content #tooltipViajerosRedondo .buttonContainer .controlPasajeros,
          #buscador .tab-content #tooltipViajeroSencillo .buttonContainer .controlPasajeros,
          #buscador .tab-content #tooltipViajerosArma .buttonContainer .controlPasajeros {
            padding: 6px 12px; }
          #buscador .tab-content #tooltipViajerosRedondo .listo,
          #buscador .tab-content #tooltipViajeroSencillo .listo,
          #buscador .tab-content #tooltipViajerosArma .listo {
            width: 80px; } }
    #buscador .tab-content .tooltipLugares {
      display: none;
      flex-direction: column;
      top: 46px; }
      #buscador .tab-content .tooltipLugares ul.principal {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%; }
        #buscador .tab-content .tooltipLugares ul.principal > li {
          border-bottom: 1px solid #cccccc;
          cursor: pointer;
          margin: 0;
          padding-top: 8px; }
          #buscador .tab-content .tooltipLugares ul.principal > li:before {
            content: "";
            font-family: "FontAwesome";
            margin-right: 10px;
            color: #cccccc; }
          #buscador .tab-content .tooltipLugares ul.principal > li:first-child {
            margin-top: 0; }
          #buscador .tab-content .tooltipLugares ul.principal > li:last-child {
            border-bottom: none;
            margin-bottom: 0; }
          #buscador .tab-content .tooltipLugares ul.principal > li:hover {
            background-color: #eee; }
          #buscador .tab-content .tooltipLugares ul.principal > li ul.secundario {
            background: white;
            list-style: none;
            margin-top: 6px;
            padding-left: 15px; }
            #buscador .tab-content .tooltipLugares ul.principal > li ul.secundario li {
              padding: 8px 10px 12px 8px; }
              #buscador .tab-content .tooltipLugares ul.principal > li ul.secundario li:hover {
                background-color: #eee; }
              #buscador .tab-content .tooltipLugares ul.principal > li ul.secundario li:before {
                content: url("../img/home/drop-arrow-grey.png");
                margin-right: 10px; }
      #buscador .tab-content .tooltipLugares strong {
        color: #ff4454;
        font-weight: 600; }
      @media screen and (min-width: 768px) {
        #buscador .tab-content .tooltipLugares {
          top: 65px;
          width: 215%; }
          #buscador .tab-content .tooltipLugares:before {
            right: auto;
            left: 10px; } }
  @media screen and (min-width: 768px) {
    #buscador {
      margin: 0 auto;
      margin-top: -110px;
      width: 750px; }
      #buscador h2 {
        display: none; }
      #buscador .nav-tabs {
        border-top: 0;
        justify-content: flex-start; }
        #buscador .nav-tabs > li {
          border-right: 0;
          margin-left: 2px;
          flex-grow: 0; }
          #buscador .nav-tabs > li > a {
            border-radius: 7px 5px 0 0;
            border: none;
            color: white;
            padding: 8px 15px; }
        #buscador .nav-tabs span {
          display: inline; }
        #buscador .nav-tabs .fa {
          margin-right: 10px; }
      #buscador .tab-content {
        border-radius: 0 8px 8px 8px;
        padding-bottom: 20px; }
        #buscador .tab-content #hoteles .destino {
          width: 53%; }
        #buscador .tab-content #autos #conductorEdad input {
          width: 50px; }
        #buscador .tab-content #seguros .tooltipSeguros {
          top: 76px; }
        #buscador .tab-content #seguros .fecha {
          width: 17%; }
        #buscador .tab-content #paquetes .tooltipHabitaciones {
          left: -370px;
          width: 255%;
          height: auto;
          top: 70px; }
          #buscador .tab-content #paquetes .tooltipHabitaciones .button {
            float: right;
            width: 80px; }
          #buscador .tab-content #paquetes .tooltipHabitaciones .numeroHabitaciones {
            justify-content: flex-start; }
            #buscador .tab-content #paquetes .tooltipHabitaciones .numeroHabitaciones p {
              margin-right: 15px; }
          #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
            #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion {
              margin-bottom: 10px; }
              #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion .edadMenores p {
                width: 46px;
                font-size: 0.8rem; }
              #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion .personasHabitaciones > * {
                margin-right: 0;
                padding: 0.4rem 0; }
              #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion .personasHabitaciones p {
                margin-right: 5px; }
              #buscador .tab-content #paquetes .tooltipHabitaciones .huespedesContainer .habitacion .personasHabitaciones select {
                margin-right: 0.4rem; }
        #buscador .tab-content .fechaContainer div {
          flex-direction: column;
          font-size: 13px;
          line-height: 15px; }
        #buscador .tab-content .inputsection {
          flex-direction: row; }
          #buscador .tab-content .inputsection .errorMensaje {
            bottom: -21px;
            font-size: 13px; }
          #buscador .tab-content .inputsection .positionInitial {
            position: relative; }
          #buscador .tab-content .inputsection > div {
            border-bottom: 0;
            border-right: 1px solid #727176; }
          #buscador .tab-content .inputsection > div:first-child {
            border-radius: 5px 0 0 5px; }
            #buscador .tab-content .inputsection > div:first-child input, #buscador .tab-content .inputsection > div:first-child select {
              border-radius: 5px 0 0 5px; }
          #buscador .tab-content .inputsection > div:last-child {
            border-right: 0;
            border-radius: 0 5px 5px 0; }
            #buscador .tab-content .inputsection > div:last-child input {
              border-radius: 0 5px 5px 0; }
          #buscador .tab-content .inputsection .errorValidation {
            margin-bottom: 0; }
        #buscador .tab-content .filtrosAvanzados {
          flex-direction: row;
          margin-top: 22px; }
        #buscador .tab-content .filtrosContainer {
          align-items: flex-end;
          flex-direction: row; }
          #buscador .tab-content .filtrosContainer div {
            margin-right: 15px;
            margin-bottom: 0; } }
  @media screen and (min-width: 1200px) {
    #buscador {
      width: 1170px; } }

.itemPromociones::after {
  background-color: #ff4454;
  content: "";
  height: 3px;
  position: absolute;
  width: 0;
  bottom: 0;
  transition: all 0.5s ease; }
.itemPromociones:hover::after {
  width: 100%; }
.itemPromociones .infoContainer {
  align-items: center; }
  .itemPromociones .infoContainer div:first-child {
    width: 60%; }
  .itemPromociones .infoContainer div:last-child {
    width: 40%; }
  .itemPromociones .infoContainer h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.8rem; }
  .itemPromociones .infoContainer .button {
    float: right; }
  .itemPromociones .infoContainer .precio {
    font-size: 30px; }
    .itemPromociones .infoContainer .precio small {
      font-size: 18px; }

/*# sourceMappingURL=home.css.map */
